body {
    background-color: #141719;
}

.bg-gray {
    background-color: #C1C1C1 !important;
}

.bg-header {
    background-color: #DB6115;
}

.bg-footer {
    background-color: #DB6115;
}

.required {
    color: #7F0000;
}

@media screen and (min-width: 768px) {
    .bg-md-none {
        background-color: transparent !important;
    }

    .text-md-white {
        color: #fff !important;
    }

    a.text-md-white:hover {
        color: #C1C1C1 !important;
    }
}
