body {
    background-color: #001A2D;
}

.bg-gray {
    background-color: #C1C1C1 !important;
}

.required {
    color: #7F0000;
}

@media screen and (min-width: 768px) {
    .bg-md-gray {
        background-color: #C1C1C1 !important;
    }
}
